

body
{
    background-image: url("../assets/309051.jpg");
    font-family: 'Poppins', sans-serif;  
}

/*********** Navbar & Photo Carousel Styles ************/

.navbar-light .nav-link{
    color: white !important;
}
.navbar-light .navbar-toggler {
    color: white;
    border-color: white;
}
.navbar{
    padding: 0;
} 

.logo img {
    height: 65px;
    padding-top: 10px;
    margin-left: -90px;
    padding-bottom: 7px;
}

.container-fluid{
    background-color: #141A2E;   
    border-bottom: 2px solid #EF3C43; 
}

nav li a{
    font-size: 110%;
    font-weight: 500;
    text-transform: uppercase;
    color: white;   
}

nav li a:hover{
    color: white !important;
    font-weight: 600;
    border-bottom: 2px solid #EF3C43;
}

#navbarSupportedContent{
    margin-left: 35%;
}



.first{
    text-align: center; 
    padding: 11% 0;
}

.first > h1{
    color: #ffffff;
    font-size: 3em;
    font-weight: bold;
}

.first > p{
    color: #ffffff;
    font-size: 1.1em;
}

.card .card-img{
    height: 600px;
    width: auto;
}

.carousel-item img{
    object-fit: cover;
}

div.card-title{
    color:rgb(247, 241, 243);
    font-weight: 100;
    font-size: 20px;
    margin-top: 0;
}

div.card-text{
    color:rgb(247, 241, 243);
    font-weight: 850;
    font-size: 30px;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
@media (max-width: 1199px){
    #navbarSupportedContent{
        margin-left: 10%;
    }
}

@media (max-width: 992px){
    .card .card-img{    
        height: 400px;     
    }
    .first{    
        padding: 5% 0;    
    }
    #navbarSupportedContent{
        margin-left: 0;
    }
}

@media (max-width: 767px){
    .card .card-img{    
        height: 400px;     
    }
    .first{    
        padding: 7% 0;    
    }
    #navbarSupportedContent{
        margin-left: 0;
    }
}

@media (max-width: 567px) {
    .card .card-img{   
        height: 250px;      
    }
    .first{   
        padding: 0;     
    }
    .first > h1{   
        font-size: 2em;     
    }
    .first > p{   
        font-size: 0.8em;   
    }

    div.card-title{
        font-weight: 300;
        font-size: 14px;
    }    
    div.card-text{
        font-weight: 600;
        font-size: 18px;
    }
    .card-img-overlay{
        padding: 0.4rem;
    }
    #navbarSupportedContent{
        margin-left: 0;
    }
}
       
.contact img{
        margin: 0 44%;
        width: 12%;
}     
@media (max-width: 567px) {    
        .contact img{
            width: 40% !important;
            margin: 0 30%;
        }
}

.contact h1{
        max-width: 640px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
}
a{
    text-decoration: none !important;
}