
body
{
    background-color: #faf8f8;
    
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}
.pic img{
    
    padding-left: 43%;
    max-width: 55%;
    height: auto;
    
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 1px;
    padding-bottom: 40px;
    right: 0;
    left: 0;
    width: 100%;
    background-color: #e7e4e4; 
    
    opacity: 80%;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.1);
}
nav li a{
    line-height: 38px;
    text-decoration: none;
    padding-left: 7px;
    padding-right: 5px;
    text-transform: uppercase;
    color: rgb(228, 13, 13);
    text-shadow: 1px 1px 1px rgb(15, 13, 13);
}
nav li a:hover {
    color: rgb(8, 8, 65);

}
.logo img {
    height: 70px;
    padding-top: 20px;
    margin-left: -90px;
}
.menu {
    list-style: none;
    /*remove the bullets from the list*/
    display: flex;
    padding-top: 20px;
    padding-left: 10px;
}

.menu li a {
    height: 40px;
    line-height: 53px;
    margin: 0.5px;
    text-decoration: none;
    padding: 0px 10px;
    display: flex;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: rgb(230, 43, 43);
}